body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  flex: 50%;
}

.gameRow {
  display: flex;
}

.row {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.row > div {
  display: block;
  width: 40px;
  height: 40px;
}

.emptyCell {
  display: block;
  width: 40px;
  height: 40px;
  background-color: pink;
  outline: 1px solid;
  outline-color: red;
}

.crossword-board__item-label-text {
	top: 2px;
	left: 2px;
	font-size: 1px;
	line-height: 1;
}
.cell {
  text-align: center;
  display: flex;
  justify-content: flex-start;

}

.cell > div {
  display: block;
  width: 40px;
  height: 40px;
  outline: 1px solid;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2.0em;
}

.gridWrapper {
  display: grid;
}

.highlighted {
  background-color: yellow;
}

.highlightWord {
  background-color: lightblue;
}

.playable {
  border: 1px solid;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.inner-div {
  top: 0px;
  right: 0px;
  font-size: 12px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.modal-main {
  position:fixed;
  background: lightpink;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


