body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.row > div {
  display: block;
  width: 40px;
  height: 40px;
}

.emptyCell {
  display: block;
  width: 40px;
  height: 40px;
}

.cell {
  text-align: center;
  display: flex;
  justify-content: flex-start;

}

.cell > div {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2.0em;
}

.highlighted {
  background-color: yellow;
}

.highlightWord {
  background-color: lightblue;
}

.playable {
  border: 1px solid;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.grid {
  display: inline-block;
}
